.chat{
  position: absolute;
  left:60%;
  top:3%;
  background-color: #F6F6FD;
  border:1px solid black;
}

#messages{
  overflow-y: scroll;
  height:600px;
}

ul {
  list-style-type: none;
}


.roomslist {
  position: absolute;
  right: 10%;
  top: 3%;
}


#videoElement{
    height:200px;
    width:200px;
}
