.chat{
  position: absolute;
  left:60%;
  top:3%;
}

#messages{
  overflow-y: scroll;
  height:600px;
}

ul {
  list-style-type: none;
}

.chat{
  background-color: #F6F6FD;
  border:1px solid black;

}

#videoElement{
    height:200px;
    width:200px;
}
